@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
