@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_gUrWaXrve9Y9PTJ2TwGRbeFJIPNWYy3MxywF
