@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_gUrWaXrve9Y9PTJ2TwGRbeFJIPNWYy3MxywF
@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_TjU5J37IfrB2OvjYqUKYNEZNdJPCgI3QA3Xt
@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_iFOJeuoTYKOBlGsE1BT2fJ7bPowoQD13hKAm
@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_L2lYqDCxDDdS1GYTOwqT43yGqj5FiQ2be4C1
@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_VYTtYjd8xMr0j6B4ehyr9Z47EDq46z2WCPHD
@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_CRQdF6jfdyvkJdvK2cD4u3ilclyRBF0z3GVj
@nubrell:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=ghs_DFyufxcUS8l5PAx1F7hvTUrhaikDXe2GnLjM
